.e75_131 { 
	overflow:hidden;
}
.e75_131 {
    background-color: rgba(255, 255, 255, 1);
    width: 1510px;
    height: 1024px;
    position: absolute;
    top: 0px;
}
.e79_328 { 
	width:1510px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei79_328_78_138 { 
	background-color:rgba(255, 255, 255, 1);
	width:1510px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}

.ei79_328_78_138_65_124 { 
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 1510px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.ei79_300_78_138_65_125 {
	width: 76px;
    height: 61px;
    position: absolute;
    left: 0px;
    top: 0;
}
.ei79_328_78_138_65_126 { 
	position: absolute;
    left: 591px;
    top: 0px;
    font-family: Lilita One;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
}
.ei79_328_78_138_65_127 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1510px;
	height:121px;
	position:absolute;
	left:0px;
	top:903px;
}
.ei79_328_78_138_65_128 { 
	color:rgba(0, 0, 0, 1);
	width:1510px;
	height:118px;
	position:absolute;
	left:100px;
	top:905px;
	font-family:Inter;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.ei79_328_78_138_65_129 { 
	width:50px;
	height:50px;
	position:absolute;
	left:417px;
	top:970px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei79_328_78_138_65_130 { 
	width:50px;
	height:50px;
	position:absolute;
	left:544px;
	top:970px;
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei79_328_78_138_65_131 { 
	width:50px;
	height:50px;
	position:absolute;
	left:720px;
	top:970px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei79_328_78_138_65_132 { 
	width:50px;
	height:50px;
	position:absolute;
	left:886px;
	top:970px;
	background-image:url(images/snapchat.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei79_328_78_138_65_134 { 
	width: 66px;
    height: 63px;
    position: absolute;
    left: 1426px;
}
.ei79_328_78_138_65_135 {
    background-color: rgba(208.87421429157257, 208.87421429157257, 208.87421429157257, 1);
    width: 1510px;
    height: 56px;
    position: absolute;
    left: 76px;
    top: 60px;
}
.ei79_328_78_138_65_137 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 77px;
    height: 109px;
    position: absolute;
    left: 0px;
    top: 60px;
}
.ei79_328_78_138_65_139 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 1440px;
    height: 53px;
    position: absolute;
    left: 77px;
    top: 116px;
}
.ei79_328_78_138_65_140 { 
	width: 60px;
    height: 55px;
    position: absolute;
    left: 9px;
    top: 85px;
}
.ei79_328_78_138_65_141 { 
	width: 62px;
    height: 52px;
    position: absolute;
    left: 1428px;
    top: 60px;
}
.ei79_328_78_138_65_142 {
    width: 77px;
    height: 51px;
    position: absolute;
    left: 1308px;
    top: 63px;
}
.ei79_328_78_138_65_143 { 
	background-color: rgba(189.32421773672104, 183.48669737577438, 183.48669737577438, 1);
    width: 668px;
    height: 56px;
    position: absolute;
    left: 268px;
    top: 60px;
}

.ei79_328_78_138_65_145 { 
    width: 552px;
    height: 64px;
    position: absolute;
    left: 268px;
    top: 64px;
    font-size: 40px;
}
.ei79_328_78_138_65_146 {
    width: 61px;
    height: 56px;
    position: absolute;
    left: 936px;
    top: 60px;
    background-color: rgba(189.32421773672104, 183.48669737577438, 183.48669737577438, 1);
}
.ei79_328_78_138_65_148 {
    width: 95px;
    height: 61px;
    position: absolute;
    left: 1150px;
    top: 57px;
}
.ei79_328_78_252 {
    transform: rotate(-0.08683018572686856deg);
    width: 1313.21337890625px;
    height: 60.01921081542969px;
    position: absolute;
    left: 273.02002px;
    top: 118.620117px;
    font-family: IM FELL Great Primer SC;
    text-align: left;
    font-size: 37px;
    letter-spacing: 2px;
    word-spacing: 39px;
}
.e104_81 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:335px;
	height:70px;
	position:absolute;
	left:118px;
	top:240px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e102_82 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:61px;
	position:absolute;
	left:159px;
	top:248px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e102_81 { 
	width:1300px;
	height:176px;
	position:absolute;
	left:118px;
	top:360px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e102_83 { 
	color:rgba(0, 0, 0, 1);
	width:1194px;
	height:227px;
	position:absolute;
	left:118px;
	top:480px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e102_87 { 
	color:rgba(0, 0, 0, 1);
	width:1187px;
	height:78px;
	position:absolute;
	left:118px;
	top:612px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e102_88 { 
	color:rgba(0, 0, 0, 1);
	width:1279px;
	height:39px;
	position:absolute;
	left:118px;
	top:711px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e102_89 { 
	color:rgba(0, 0, 0, 1);
	width:490px;
	height:39px;
	position:absolute;
	left:823px;
	top:810px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e104_82 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:443px;
	height:69px;
	position:absolute;
	left:148px;
	top:803px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e102_90 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:39px;
	position:absolute;
	left:227px;
	top:818px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
