.e1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(171.47420436143875, 170.59999287128448, 149.61125671863556, 1);
	width:1510px;
	height:3766px;
	position:absolute;
	top: 0px;
}
.e1_3 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 1510px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e1_4 {
    width: 76px;
    height: 61px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e1_15 {
    width: 66px;
    height: 63px;
    position: absolute;
    left: 1426px;
    top: 0px;
}

.e1_16 {
    background-color: rgba(208.87421429157257, 208.87421429157257, 208.87421429157257, 1);
    width: 1510px;
    height: 56px;
    position: absolute;
    left: 76px;
    top: 60px;
}
.e1_28 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 77px;
    height: 109px;
    position: absolute;
    left: 0px;
    top: 60px;
}

.e1_42 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 1440px;
    height: 53px;
    position: absolute;
    left: 77px;
    top: 116px;
}
.e1_32 {
    width: 60px;
    height: 55px;
    position: absolute;
    left: 9px;
    top: 85px;
}
.e1_39 {
    width: 62px;
    height: 52px;
    position: absolute;
    left: 1428px;
    top: 60px;
}
.e1_41 {
    width: 77px;
    height: 51px;
    position: absolute;
    left: 1308px;
    top: 63px;
}
.e5_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1510px;
	height:121px;
	position:absolute;
	left:0px;
	top:3645px;
}
.e5_10 { 
	width:50px;
	height:50px;
	position:absolute;
	left:390px;
	top:3715px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_16 { 
	width:50px;
	height:50px;
	position:absolute;
	left:886px;
	top:3715px;
	background-image:url(images/snapchat.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_14 { 
	width:50px;
	height:50px;
	position:absolute;
	left:720px;
	top:3715px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_13 { 
	width:50px;
	height:50px;
	position:absolute;
	left:544px;
	top:3715px;
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_6 {
    width: 1548px;
    height: 558px;
    position: absolute;
    left: 0px;
    top: 169px;
    background-repeat: no-repeat;
    background-size: cover;
}

.e1_20 {
    transform: rotate(-0.08683018572686856deg);
    width: 1313.21337890625px;
    height: 60.01921081542969px;
    position: absolute;
    left: 273.022964px;
    top: 118.619522px;
    font-size: 37px;
    letter-spacing: 2px;
    word-spacing: 39px;
}
.e1_43 {
    background-color: rgba(189.32421773672104, 183.48669737577438, 183.48669737577438, 1);
    width: 668px;
    height: 56px;
    position: absolute;
    left: 268px;
    top: 60px;
}
.e1_54{
width: 552px;
    height: 64px;
    position: absolute;
    left: 268px;
    top: 64px;

    font-size: 40px;
}
.e1_45 {
	width: 61px;
    height: 56px;
    position: absolute;
    left: 936px;
    top: 60px;
    background-color: rgba(189.32421773672104, 183.48669737577438, 183.48669737577438, 1);
}
.e10_10 {
	width: 95px;
	height: 61px;
	position: absolute;
	left: 1150px;
	top: 57px;
	}
.e27_2 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:55px;
	position:absolute;
	left:25px;
	top:779px;
	font-family:Halant;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e27_3 { 
	width:200px;
	height:200px;
	position:absolute;
	left:20px;
	top:430px;
	background-image:url(images/rectangle_38.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_4 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:164px;
	position:absolute;
	left:27px;
	top:1062px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e27_5 { 
	width:200px;
	height:200px;
	position:absolute;
	left:330px;
	top:862px;
	background-image:url(images/rectangle_39.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_6 { 
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:164px;
	position:absolute;
	left:315px;
	top:1082px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e27_7 { 
	width:200px;
	height:200px;
	position:absolute;
	left:605px;
	top:862px;
	background-image:url(images/rectangle_40.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_8 { 
	color:rgba(0, 0, 0, 1);
	width:207px;
	height:164px;
	position:absolute;
	left:605px;
	top:1062px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e27_9 { 
	width:200px;
	height:200px;
	position:absolute;
	left:895px;
	top:862px;
	background-image:url(images/rectangle_40.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_10 { 
	color:rgba(0, 0, 0, 1);
	width:200px;
	height:164px;
	position:absolute;
	left:895px;
	top:1062px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e1_9 { 
	color:rgba(3.1875000474974513, 3.1875000474974513, 3.1875000474974513, 1);
	width:207px;
	height:100px;
	position:absolute;
	left:598px;
	top:0px;
	font-family:Lilita One;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e27_11 { 
	width:200px;
	height:200px;
	position:absolute;
	left:1185px;
	top:862px;
	background-image:url(images/rectangle_41.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_12 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:164px;
	position:absolute;
	left:1178px;
	top:1062px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e27_13 { 
	color:rgba(0, 0, 0, 1);
	width:249px;
	height:55px;
	position:absolute;
	left:25px;
	top:1281px;
	font-family:Halant;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e27_14 { 
	width:200px;
	height:200px;
	position:absolute;
	left:25px;
	top:1391px;
	background-image:url(images/rectangle_42.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_15 { 
	width:200px;
	height:200px;
	position:absolute;
	left:315px;
	top:1391px;
	background-image:url(images/rectangle_43.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_16 { 
	width:200px;
	height:200px;
	position:absolute;
	left:605px;
	top:1391px;
	background-image:url(images/rectangle_44.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_17 { 
	width:200px;
	height:200px;
	position:absolute;
	left:895px;
	top:1391px;
	background-image:url(images/rectangle_45.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_18 { 
	width:200px;
	height:200px;
	position:absolute;
	left:1185px;
	top:1391px;
	background-image:url(images/rectangle_46.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_19 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:123px;
	position:absolute;
	left:25px;
	top:1591px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e27_20 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:123px;
	position:absolute;
	left:315px;
	top:1591px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e27_21 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:123px;
	position:absolute;
	left:605px;
	top:1591px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e27_22 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:123px;
	position:absolute;
	left:897px;
	top:1591px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e27_23 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:123px;
	position:absolute;
	left:1189px;
	top:1591px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e27_24 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:50px;
	position:absolute;
	left:1232px;
	top:1286px;
	font-family:Halant;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e27_26 { 
	color:rgba(0, 0, 0, 1);
	width:269px;
	height:55px;
	position:absolute;
	left:25px;
	top:1769px;
	font-family:Halant;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e27_27 { 
	color:rgba(0, 0, 0, 1);
	width:160px;
	height:50px;
	position:absolute;
	left:1225px;
	top:1757px;
	font-family:Halant;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e27_28 { 
	width:200px;
	height:200px;
	position:absolute;
	left:25px;
	top:1890px;
	background-image:url(images/rectangle_47.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_29 { 
	width:200px;
	height:200px;
	position:absolute;
	left:316px;
	top:1890px;
	background-image:url(images/rectangle_48.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_30 { 
	width:200px;
	height:200px;
	position:absolute;
	left:603px;
	top:1890px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	background-image:url(images/rectangle_49.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_31 { 
	width:200px;
	height:200px;
	position:absolute;
	left:897px;
	top:1890px;
	background-image:url(images/rectangle_50.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_32 { 
	width:200px;
	height:200px;
	position:absolute;
	left:1185px;
	top:1890px;
	background-image:url(images/rectangle_51.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_3 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:123px;
	position:absolute;
	left:25px;
	top:2090px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e28_4 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:123px;
	position:absolute;
	left:318px;
	top:2090px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e28_5 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:123px;
	position:absolute;
	left:606px;
	top:2090px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e28_6 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:123px;
	position:absolute;
	left:899px;
	top:2090px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e28_7 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:123px;
	position:absolute;
	left:1189px;
	top:2090px;
	font-family:Halant;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e28_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1510px;
	height:222px;
	position:absolute;
	left:0px;
	top:2362px;
}
.e28_9 { 
	width:302px;
	height:222px;
	position:absolute;
	left:0px;
	top:2362px;
	background-image:url(images/rectangle_53.png);
	background-repeat:no-repeat;
	background-size:cover;

}
.e28_12 { 
	width:302px;
	height:222px;
	position:absolute;
	left:288px;
	top:2362px;
	background-image:url(images/rectangle_54.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_13 { 
	width:302px;
	height:222px;
	position:absolute;
	left:576px;
	top:2362px;
	background-image:url(images/rectangle_55.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_14 { 
	width:302px;
	height:222px;
	position:absolute;
	left:875px;
	top:2362px;
	background-image:url(images/rectangle_56.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_15 { 
	width:340px;
	height:222px;
	position:absolute;
	left:1170px;
	top:2362px;
	background-image:url(images/rectangle_57.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_28 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:50px;
	position:absolute;
	left:1250px;
	top:784px;
	font-family:Halant;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e33_2 { 
	color:rgba(0, 0, 0, 1);
	width:245px;
	height:42px;
	position:absolute;
	left:25px;
	top:2733px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e33_3 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:50px;
	position:absolute;
	left:1232px;
	top:2742px;
	font-family:Halant;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e34_2 { 
	width:250px;
	height:250px;
	position:absolute;
	left:44px;
	top:2853px;
	background-image:url(images/rectangle_58.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e34_7 { 
	color:rgba(0, 0, 0, 1);
	width:162px;
	height:52px;
	position:absolute;
	left:44px;
	top:3129px;
	font-family:Halant;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.e34_3 { 
	width:250px;
	height:250px;
	position:absolute;
	left:403px;
	top:2853px;
	background-image:url(images/rectangle_59.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e34_5 { 
	width:250px;
	height:250px;
	position:absolute;
	left:774px;
	top:2853px;
	background-image:url(images/rectangle_61.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e34_6 { 
	width:250px;
	height:250px;
	position:absolute;
	left:1137px;
	top:2853px;
	background-image:url(images/rectangle_62.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e34_10 { 
	color:rgba(0, 0, 0, 1);
	width:202px;
	height:52px;
	position:absolute;
	left:1137px;
	top:3129px;
	font-family:Halant;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.e34_8 { 
	color:rgba(0, 0, 0, 1);
	width:186px;
	height:52px;
	position:absolute;
	left:403px;
	top:3129px;
	font-family:Halant;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.e34_9 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:52px;
	position:absolute;
	left:774px;
	top:3129px;
	font-family:Halant;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.e34_11 { 
	width:250px;
	height:250px;
	position:absolute;
	left:44px;
	top:3271px;
	background-image:url(images/rectangle_63.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e34_15 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:52px;
	position:absolute;
	left:44px;
	top:3557px;
	font-family:Halant;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.e34_12 { 
	width:250px;
	height:250px;
	position:absolute;
	left:403px;
	top:3271px;
	background-image:url(images/rectangle_64.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e34_16 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:52px;
	position:absolute;
	left:403px;
	top:3557px;
	font-family:Halant;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.e34_13 { 
	width:250px;
	height:250px;
	position:absolute;
	left:774px;
	top:3271px;
	background-image:url(images/rectangle_65.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e34_17 { 
	color:rgba(0, 0, 0, 1);
	width:178px;
	height:52px;
	position:absolute;
	left:775px;
	top:3557px;
	font-family:Halant;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.e34_14 {
	width:250px;
	height:250px;
	position:absolute;
	left:1137px;
	top:3271px;
	background-image:url(images/rectangle_66.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e34_18 {
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:52px;
	position:absolute;
	left:1137px;
	top:3557px;
	font-family:Halant;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.e5_9 {
	color:rgba(0, 0, 0, 1);
	width:1510px;
	height:0px;
	position:absolute;
	left:100px;
	top:3645px;
	font-family:Inter;
	text-align:left;
	font-size:33px;
	letter-spacing : 0;
}