.e75_130 { 
	overflow:hidden;
}
.e75_130 { 
	background-color:rgba(255, 255, 255, 1);
	width:1510px;
	height:1024px;
	position:absolute;
	top: 0px;
}
.e79_356 { 
	width:1510px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.e79_300 { 
	width:1510px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei79_300_78_138 { 
	background-color:rgba(255, 255, 255, 1);
	width:1510px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei79_300_78_138_65_124 { 
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 1510px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.ei79_300_78_138_65_125 {
	width: 76px;
    height: 61px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.ei79_300_78_138_65_126 { 
	color:rgba(0, 0, 0, 1);
	width:207px;
	height:97px;
	position:absolute;
	left:591px;
	top:0px;
	font-family:Lilita One;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.ei79_300_78_138_65_127 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1510px;
	height:121px;
	position:absolute;
	left:0px;
	top:903px;
}
.ei79_300_78_138_65_128 { 
	color:rgba(0, 0, 0, 1);
	width:1510px;
	height:118px;
	position:absolute;
	left:100px;
	top:905px;
	font-family:Inter;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.ei79_300_78_138_65_129 { 
	width:50px;
	height:50px;
	position:absolute;
	left:417px;
	top:970px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei79_300_78_138_65_130 { 
	width:50px;
	height:50px;
	position:absolute;
	left:544px;
	top:970px;
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei79_300_78_138_65_131 { 
	width:50px;
	height:50px;
	position:absolute;
	left:720px;
	top:970px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei79_300_78_138_65_132 { 
	width:50px;
	height:50px;
	position:absolute;
	left:886px;
	top:970px;
	background-image:url(images/snapchat.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.ei79_300_78_138_65_134 { 
    width: 66px;
    height: 63px;
    position: absolute;
    left: 1426px;
    top: 0px;
}
.ei79_300_78_138_65_135 { 
	background-color: rgba(208.87421429157257, 208.87421429157257, 208.87421429157257, 1);
    width: 1510px;
    height: 56px;
    position: absolute;
    left: 76px;
    top: 60px;
}
.ei79_300_78_138_65_137 { 
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 77px;
    height: 109px;
    position: absolute;
    left: 0px;
    top: 60px;
}

.ei79_300_78_138_65_139 { 
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 1440px;
    height: 53px;
    position: absolute;
    left: 77px;
    top: 116px;
}
.ei79_300_78_138_65_140 { 
	width: 60px;
    height: 55px;
    position: absolute;
    left: 9px;
    top: 85px;
}
.ei79_300_78_138_65_141 { 
	width: 62px;
    height: 52px;
    position: absolute;
    left: 1428px;
    top: 60px;
}
.ei79_300_78_138_65_142 { 
	width: 77px;
    height: 51px;
    position: absolute;
    left: 1308px;
    top: 63px;

}
.ei79_300_78_138_65_143 { 
	background-color: rgba(189.32421773672104, 183.48669737577438, 183.48669737577438, 1);
    width: 668px;
    height: 56px;
    position: absolute;
    left: 268px;
    top: 60px;
}
.ei79_300_78_138_65_145 { 
	width: 552px;
    height: 64px;
    position: absolute;
    left: 268px;
    top: 64px;
    font-size: 40px;
}
.ei79_300_78_138_65_146 { 
    width: 61px;
    height: 56px;
    position: absolute;
    left: 936px;
    top: 60px;
    background-color: rgba(189.32421773672104, 183.48669737577438, 183.48669737577438, 1);
}

.ei79_300_78_138_65_148 { 
	width: 95px;
    height: 61px;
    position: absolute;
    left: 1150px;
    top: 57px;
}
.ei79_300_78_252 { 
	transform: rotate(-0.08683018572686856deg);
    width: 1313.21337890625px;
    height: 60.01921081542969px;
    position: absolute;
    left: 273.022964px;
    top: 118.619522px;
    font-size: 37px;
    letter-spacing: 2px;
    word-spacing: 39px;
}
.e80_357 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:342px;
	height:472px;
	position:absolute;
	left:1065px;
	top:282px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e80_358 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:47px;
	position:absolute;
	left:1081px;
	top:321px;
	font-family:Halant;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e80_359 { 
	color:rgba(0, 0, 0, 1);
	width:326px;
	height:38px;
	position:absolute;
	left:1081px;
	top:413px;
	font-family:Halant;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_360 { 
	color:rgba(0, 0, 0, 1);
	width:320px;
	height:38px;
	position:absolute;
	left:1081px;
	top:480px;
	font-family:Halant;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_361 { 
	color:rgba(0, 0, 0, 1);
	width:318px;
	height:38px;
	position:absolute;
	left:1081px;
	top:547px;
	font-family:Halant;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_362 { 
	color:rgba(0, 0, 0, 1);
	width:326px;
	height:38px;
	position:absolute;
	left:1081px;
	top:614px;
	font-family:Halant;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_363 { 
	transform: rotate(0.19554796689178638deg);
	width:293.001708984375px;
	height:0px;
	position:absolute;
	left:1093px;
	top:675px;
}
.e80_363 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e80_364 { 
	color:rgba(0, 0, 0, 1);
	width:326px;
	height:38px;
	position:absolute;
	left:1081px;
	top:684px;
	font-family:Halant;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_365 { 
	color:rgba(0, 0, 0, 1);
	width:762px;
	height:127px;
	position:absolute;
	left:57px;
	top:304px;
	font-family:Halant;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_366 { 
	color:rgba(0, 0, 0, 1);
	width:138px;
	height:38px;
	position:absolute;
	left:42px;
	top:256px;
	font-family:Halant;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_367 { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:38px;
	position:absolute;
	left:26px;
	top:410px;
	font-family:Halant;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_368 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:812px;
	height:391px;
	position:absolute;
	left:36px;
	top:499px;
	border-top-left-radius:56px;
	border-top-right-radius:56px;
	border-bottom-left-radius:56px;
	border-bottom-right-radius:56px;
}
.e80_374 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:38px;
	position:absolute;
	left:161px;
	top:627px;
	font-family:Halant;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_376 { 
	color:rgba(0, 0, 0, 1);
	width:355px;
	height:38px;
	position:absolute;
	left:161px;
	top:805px;
	font-family:Halant;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_375 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:38px;
	position:absolute;
	left:161px;
	top:716px;
	font-family:Halant;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_373 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:38px;
	position:absolute;
	left:161px;
	top:538px;
	font-family:Halant;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e80_377 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:342px;
	height:72px;
	position:absolute;
	left:1065px;
	top:805px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e80_378 { 
	color:rgba(0, 0, 0, 1);
	width:143px;
	height:58px;
	position:absolute;
	left:1147px;
	top:812px;
	font-family:Halant;
	text-align:left;
	font-size:37px;
	letter-spacing:0;
}
.e80_369 { 
	border-radius:500px;
	background-color:rgba(145.34999817609787, 138.44585984945297, 138.44585984945297, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:81px;
	top:536px;
}
.e80_370 { 
	border-radius:500px;
	background-color:rgba(145.34999817609787, 138.44585984945297, 138.44585984945297, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:81px;
	top:625px;
}
.e80_371 { 
	border-radius:500px;
	background-color:rgba(145.34999817609787, 138.44585984945297, 138.44585984945297, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:81px;
	top:714px;
}
.e102_92 { 
	color:rgba(0, 0, 0, 1);
	width:144px;
	height:50px;
	position:absolute;
	left:800px;
	top:444px;
	font-family:Halant;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e80_372 { 
	border-radius:500px;
	background-color:rgba(145.34999817609787, 138.44585984945297, 138.44585984945297, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:81px;
	top:803px;
}
.e102_91 { 
	width:250px;
	height:189px;
	position:absolute;
	left:800px;
	top:245px;
	background-image:url(images/images_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
