.e75_129 { 
	overflow:hidden;
}
.e75_129 { 
	background-color:rgba(255, 255, 255, 1);
	width:1510px;
	height:1024px;
	position:absolute;
}
.e78_253 { 
	width:1510px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.e78_138 { 
	background-color:rgba(255, 255, 255, 1);
	width:1510px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei78_138_65_124 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1510px;
	height:97px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei78_138_65_125 { 
	width:127px;
	height:97px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:-4.547473508864641e-13px;
	background-image:url(images/rectangle_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei78_138_65_126 { 
	color:rgba(0, 0, 0, 1);
	width:207px;
	height:97px;
	position:absolute;
	left:591px;
	top:0px;
	font-family:Lilita One;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.ei78_138_65_127 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1510px;
	height:121px;
	position:absolute;
	left:0px;
	top:903px;
}
.ei78_138_65_128 { 
	color:rgba(0, 0, 0, 1);
	width:1510px;
	height:118px;
	position:absolute;
	left:100px;
	top:905px;
	font-family:Inter;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.ei78_138_65_129 { 
	width:50px;
	height:50px;
	position:absolute;
	left:417px;
	top:970px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei78_138_65_130 { 
	width:50px;
	height:50px;
	position:absolute;
	left:544px;
	top:970px;
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei78_138_65_131 { 
	width:50px;
	height:50px;
	position:absolute;
	left:720px;
	top:970px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei78_138_65_132 { 
	width:50px;
	height:50px;
	position:absolute;
	left:886px;
	top:970px;
	background-image:url(images/snapchat.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei78_138_65_133 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:94px;
	height:94px;
	position:absolute;
	left:1348px;
	top:0px;
}
.ei78_138_65_134 { 
	width:100px;
	height:100px;
	position:absolute;
	left:1400px;
	top:0px;
	background-image:url(images/male_user.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei78_138_65_135 { 
	background-color:rgba(208.87421429157257, 208.87421429157257, 208.87421429157257, 1);
	width:1510px;
	height:64px;
	position:absolute;
	left:127px;
	top:97px;
}
.ei78_138_65_137 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:127px;
	height:131px;
	position:absolute;
	left:0px;
	top:94px;
}
.ei78_138_65_138 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:104px;
	height:64px;
	position:absolute;
	left:1236px;
	top:97px;
}
.ei78_138_65_139 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1510px;
	height:64px;
	position:absolute;
	left:127px;
	top:161px;
}
.ei78_138_65_140 { 
	width:76px;
	height:65px;
	position:absolute;
	left:25px;
	top:129px;
	background-image:url(images/circled_menu.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei78_138_65_141 {
	width:89px;
	height:67px;
	position:absolute;
	left:1400px;
	top:94px;
	background-image:url(images/shopping_cart.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei78_138_65_142 {
	width:104px;
	height:61px;
	position:absolute;
	left:1270px;
	top:100px;
	background-image:url(images/heart.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei78_138_65_143 { 
	background-color:rgba(189.32421773672104, 183.48669737577438, 183.48669737577438, 1);
	width:668px;
	height:64px;
	position:absolute;
	left:268px;
	top:97px;
}
.ei78_138_65_145 { 
	color:rgba(0, 0, 0, 1);
	width:552px;
	height:64px;
	position:absolute;
	left:267px;
	top:97px;
	font-family:IM FELL Great Primer SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.ei78_138_65_146 { 
	width:61px;
	height:64px;
	position:absolute;
	left:936px;
	top:97px;
	background-image:url(images/search.png);
	background-repeat:no-repeat;
	background-size:cover;
    background-color:rgba(189.32421773672104, 183.48669737577438, 183.48669737577438, 1);
}
.ei78_138_65_147 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:95px;
	height:64px;
	position:absolute;
	left:1141px;
	top:97px;
}
.ei78_138_65_148 { 
	width:95px;
	height:61px;
	position:absolute;
	left:1150px;
	top:97px;
	background-image:url(images/map_marker.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e78_252 { 
	transform: rotate(-0.08683018572686856deg);
	color:rgba(0, 0, 0, 1);
	width:1313.21337890625px;
	height:60.01921081542969px;
	position:absolute;
	left:300.02001953125px;
	top:163.6201171875px;
	font-family:IM FELL Great Primer SC;
	text-align:left;
	font-size:37px;
	letter-spacing:0;
}
.e79_254 { 
	width:1370px;
	height:448px;
	position:absolute;
	left:63px;
	top:255px;
	background-image:url(images/rectangle_80.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e79_255 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:47px;
	position:absolute;
	left:83px;
	top:795px;
	font-family:Halant;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e79_256 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:817px;
	height:48px;
	position:absolute;
	left:83px;
	top:729px;
}
.e79_257 { 
	color:rgba(0, 0, 0, 1);
	width:200px;
	height:47px;
	position:absolute;
	left:112px;
	top:730px;
	font-family:Halant;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e79_258 { 
	width:48px;
	height:48px;
	position:absolute;
	left:852px;
	top:729px;
	background-image:url(images/search.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e79_261 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:339px;
	height:95px;
	position:absolute;
	left:959px;
	top:735px;
}
.e79_260 { 
	color:rgba(0, 0, 0, 1);
	width:266px;
	height:47px;
	position:absolute;
	left:1013px;
	top:783px;
	font-family:Halant;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e79_262 { 
	width:60px;
	height:60px;
	position:absolute;
	left:1099px;
	top:735px;
	background-image:url(images/location.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e102_93 { 
	color:rgba(0, 0, 0, 1);
	width:490px;
	height:39px;
	position:absolute;
	left:851px;
	top:842px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
