.e10_15 { 
	overflow:hidden;
}
.e10_15 { 
	background-color:rgba(171.00000500679016, 171.00000500679016, 150.0000062584877, 1);
	width:1510px;
	height:1024px;
	position:absolute;
}
.e10_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1510px;
	height:97px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_2 { 
	width:127px;
	height:97px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_4 { 
	color:rgba(0, 0, 0, 1);
	width:207px;
	height:97px;
	position:absolute;
	left:591px;
	top:0px;
	font-family:Lilita One;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e13_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1510px;
	height:121px;
	position:absolute;
	left:-1.1368683772161603e-13px;
	top:905px;
}
.e13_12 { 
	color:rgba(0, 0, 0, 1);
	width:1510px;
	height:118px;
	position:absolute;
	left:100px;
	top:905px;
	font-family:Inter;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.e13_13 { 
	width:50px;
	height:50px;
	position:absolute;
	left:900px;
	top:969px;
	background-image:url(images/snapchat.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_14 { 
	width:50px;
	height:50px;
	position:absolute;
	left:544px;
	top:969px;
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_15 { 
	width:50px;
	height:50px;
	position:absolute;
	left:720px;
	top:969px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_16 { 
	width:50px;
	height:50px;
	position:absolute;
	left:390px;
	top:969px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e14_21 { 
	color:rgba(0, 0, 0, 1);
	width:388px;
	height:53px;
	position:absolute;
	left:181px;
	top:171px;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e13_18 { 
	width:120px;
	height:120px;
	position:absolute;
	left:284px;
	top:263px;
	background-image:url(images/male_user.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e14_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:56px;
	position:absolute;
	left:181px;
	top:456px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e14_23 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:35px;
	position:absolute;
	left:202px;
	top:471px;
	font-family:Hanuman;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e14_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:56px;
	position:absolute;
	left:181px;
	top:547px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e14_27 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:35px;
	position:absolute;
	left:202px;
	top:559px;
	font-family:Hanuman;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e14_28 { 
	transform: rotate(-4.96974346862438e-17deg);
	width:420px;
	height:0px;
	position:absolute;
	left:149px;
	top:774px;
}
.e14_28 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e14_30 { 
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:23px;
	position:absolute;
	left:181px;
	top:725px;
	font-family:Hanuman;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e14_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:56px;
	position:absolute;
	left:181px;
	top:644px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e14_34 { 
	color:rgba(0, 0, 0, 1);
	width:135px;
	height:44px;
	position:absolute;
	left:292px;
	top:656px;
	font-family:Hanuman;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e14_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:56px;
	position:absolute;
	left:181px;
	top:812px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e14_36 { 
	color:rgba(0, 0, 0, 1);
	width:271px;
	height:44px;
	position:absolute;
	left:209px;
	top:824px;
	font-family:Hanuman;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e35_4 { 
	width:120px;
	height:120px;
	position:absolute;
	left:959px;
	top:195px;
	background-image:url(images/male_user.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e35_5 { 
	color:rgba(0, 0, 0, 1);
	width:388px;
	height:67px;
	position:absolute;
	left:827px;
	top:124px;
	font-family:Hanuman;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e35_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:48px;
	position:absolute;
	left:827px;
	top:338px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e35_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:48px;
	position:absolute;
	left:827px;
	top:413px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e35_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:48px;
	position:absolute;
	left:827px;
	top:488px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e35_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:48px;
	position:absolute;
	left:827px;
	top:563px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e35_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:48px;
	position:absolute;
	left:827px;
	top:638px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e35_12 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:35px;
	position:absolute;
	left:839px;
	top:351px;
	font-family:Hanuman;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e35_13 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:35px;
	position:absolute;
	left:839px;
	top:426px;
	font-family:Hanuman;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e35_14 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:35px;
	position:absolute;
	left:839px;
	top:501px;
	font-family:Hanuman;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e35_15 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:35px;
	position:absolute;
	left:839px;
	top:575px;
	font-family:Hanuman;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e35_16 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:35px;
	position:absolute;
	left:839px;
	top:649px;
	font-family:Hanuman;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e35_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:812px;
	top:713px;
}
.e35_18 { 
	color:rgba(0, 0, 0, 1);
	width:443px;
	height:21px;
	position:absolute;
	left:839px;
	top:713px;
	font-family:Hanuman;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e35_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:48px;
	position:absolute;
	left:827px;
	top:748px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e35_20 { 
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:47px;
	position:absolute;
	left:949px;
	top:748px;
	font-family:Hanuman;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e35_22 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:48px;
	position:absolute;
	left:827px;
	top:825px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e35_23 { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:29px;
	position:absolute;
	left:949px;
	top:837px;
	font-family:Hanuman;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e35_24 { 
	width:45px;
	height:45px;
	position:absolute;
	left:839px;
	top:827px;
	background-image:url(images/google.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e35_25 { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:22px;
	position:absolute;
	left:839px;
	top:880px;
	font-family:Hanuman;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e35_21 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:407px;
	height:0px;
	position:absolute;
	left:827px;
	top:811px;
}
.e35_21 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_2 { 
	transform: rotate(90deg);
	width:784px;
	height:0px;
	position:absolute;
	left:300px;
	top:500px;
}
.e35_2 { 
	border:1px solid rgba(0, 0, 0, 1);
}
